<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085630707865-c8l1aj4vvo4k6t0ihgq257q4alfqcbib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085630707865-c8l1aj4vvo4k6t0ihgq257q4alfqcbib</string>
	<key>API_KEY</key>
	<string>AIzaSyCgQhTQb6lw4-_xpbp9lFS2Z2kFVsEnqCw</string>
	<key>GCM_SENDER_ID</key>
	<string>1085630707865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prognosticare</string>
	<key>PROJECT_ID</key>
	<string>api-prognosticare</string>
	<key>STORAGE_BUCKET</key>
	<string>api-prognosticare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085630707865:ios:71b2cc1b2c0c6ba5606008</string>
</dict>
</plist>